<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cine de EL Salvador</title>
</head>

<body>
    <h1>Cine de El Salvador</h1>
    <p>En los inicios del siglo XX, aún no se había asentado la existencia de las salas de cine como las existentes
        en la actualidad. En contraste las funciones se realizaban al aíre libre, y las imágenes se proyectaban en muros
        con mucho espacio como en el de las iglesias. Los asientos tenían que ser llevados por los visitantes, el
        acompañamiento sonoro se hacía por medio de actuaciones en vivo con instrumentos como marimbas, pianos y en
        algunas ocasiones orquestas.</p>
    <a href="https://es.wikipedia.org/wiki/Cine_de_El_Salvador">Cine de El Salvador en wikipedia</a>

</body>

</html>